.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../../../assets/images/stuff-01.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.story {
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100dvh - 70px);
  h2,
  h1,
  p {
    font-family: 'Days One', sans-serif;
  }
}

.header {
  padding: 20px 50px;
  font-size: 36px;
  margin: 0;
  line-height: 1.5;
}

.topic {
  padding-left: 50px;
  font-size: 26px;
}

.paragraph {
  padding: 30px 50px;
  font-family: 'Days One', sans-serif;
  font-size: 24px;
  margin: 0;
  line-height: 1.5; /* ระยะห่างระหว่างบรรทัด */
}

.line {
  margin: 16px 32px;
}
